<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My first server</title>
  </head>
  <body>
    <% include partials/navigation.ejs%>
    <h1>At least, HTML</h1>
    <p>This is index page</p>
  </body>
</html>
